# New Section

In [ ]:
import pandas as pd

In [ ]:
daily_df = pd.read_csv("/content/טמפרטורה, התאדות, זהירת שמש - יומי !.csv")

In [ ]:
daily_df

,תחנה,תאריך,טמפרטורת מקסימום (C°),טמפרטורת מינימום (C°),טמפרטורה ליד הקרקע (C°),"התאדות מצטברת 12 שעות (מ""מ)","התאדות יומית מגיגית סוג א (מ""מ)",משך זהירת השמש (דקות)
0,שדה בוקר מאוישת 01/1964-06/2023,01/01/1980,17.0,1.1,-1.5,NaN,2.1,NaN
1,יטבתה מאוישת 01/1975-06/2023,01/01/1980,19.1,6.1,4.5,NaN,3.3,NaN
2,אילת 10/1949-09/1997,01/01/1980,22.1,9.2,6.6,1.3,3.7,174.0
3,שדה בוקר מאוישת 01/1964-06/2023,02/01/1980,17.4,2.0,-0.9,NaN,2.5,NaN
4,יטבתה מאוישת 01/1975-06/2023,02/01/1980,20.9,4.8,2.0,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...
148016,חצבה 01/1997-06/2023,30/06/2023,38.6,24.7,24.1,NaN,NaN,NaN
148017,פארן 02/2006-06/2023,30/06/2023,36.5,21.2,19.8,NaN,NaN,NaN
148018,יטבתה 01/1999-06/2023,30/06/2023,36.8,22.3,20.9,NaN,NaN,NaN
148019,אילת מאוישת 10/1997-06/2023,30/06/2023,NaN,NaN,NaN,NaN,NaN,NaN
148020,אילת 05/2001-06/2023,30/06/2023,38.1,26.0,NaN,NaN,NaN,NaN

In [ ]:
daily_df.columns = ['station', 'date', 'max temp', 'min temp', 'near ground temp', 'Cumulative evaporation 12 hours (mm)', 'Daily evaporation from A tub (mm)', 'Duration of sun exposure (minutes)']

In [ ]:
daily_df

,station,date,max temp,min temp,near ground temp,Cumulative evaporation 12 hours (mm),Daily evaporation from A tub (mm),Duration of sun exposure (minutes)
0,שדה בוקר מאוישת 01/1964-06/2023,01/01/1980,17.0,1.1,-1.5,NaN,2.1,NaN
1,יטבתה מאוישת 01/1975-06/2023,01/01/1980,19.1,6.1,4.5,NaN,3.3,NaN
2,אילת 10/1949-09/1997,01/01/1980,22.1,9.2,6.6,1.3,3.7,174.0
3,שדה בוקר מאוישת 01/1964-06/2023,02/01/1980,17.4,2.0,-0.9,NaN,2.5,NaN
4,יטבתה מאוישת 01/1975-06/2023,02/01/1980,20.9,4.8,2.0,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...
148016,חצבה 01/1997-06/2023,30/06/2023,38.6,24.7,24.1,NaN,NaN,NaN
148017,פארן 02/2006-06/2023,30/06/2023,36.5,21.2,19.8,NaN,NaN,NaN
148018,יטבתה 01/1999-06/2023,30/06/2023,36.8,22.3,20.9,NaN,NaN,NaN
148019,אילת מאוישת 10/1997-06/2023,30/06/2023,NaN,NaN,NaN,NaN,NaN,NaN
148020,אילת 05/2001-06/2023,30/06/2023,38.1,26.0,NaN,NaN,NaN,NaN

In [ ]:

# Step 1: Convert "date" column to pandas datetime
daily_df['date'] = pd.to_datetime(daily_df['date'], format='%d/%m/%Y')
daily_df

,station,date,max temp,min temp,near ground temp,Cumulative evaporation 12 hours (mm),Daily evaporation from A tub (mm),Duration of sun exposure (minutes)
0,שדה בוקר מאוישת 01/1964-06/2023,1980-01-01,17.0,1.1,-1.5,NaN,2.1,NaN
1,יטבתה מאוישת 01/1975-06/2023,1980-01-01,19.1,6.1,4.5,NaN,3.3,NaN
2,אילת 10/1949-09/1997,1980-01-01,22.1,9.2,6.6,1.3,3.7,174.0
3,שדה בוקר מאוישת 01/1964-06/2023,1980-01-02,17.4,2.0,-0.9,NaN,2.5,NaN
4,יטבתה מאוישת 01/1975-06/2023,1980-01-02,20.9,4.8,2.0,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...
148016,חצבה 01/1997-06/2023,2023-06-30,38.6,24.7,24.1,NaN,NaN,NaN
148017,פארן 02/2006-06/2023,2023-06-30,36.5,21.2,19.8,NaN,NaN,NaN
148018,יטבתה 01/1999-06/2023,2023-06-30,36.8,22.3,20.9,NaN,NaN,NaN
148019,אילת מאוישת 10/1997-06/2023,2023-06-30,NaN,NaN,NaN,NaN,NaN,NaN
148020,אילת 05/2001-06/2023,2023-06-30,38.1,26.0,NaN,NaN,NaN,NaN

In [ ]:
daily_df['station'] = daily_df['station'].str.replace(r'\d+', '')
daily_df['new station'] = daily_df['station'].str.extractall(r'\b(\w{3,})\b').groupby(level=0).agg(' '.join)

<ipython-input-7-d926ac613d18>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  daily_df['station'] = daily_df['station'].str.replace(r'\d+', '')

In [ ]:
daily_df['new station'] = daily_df['new station'].str.replace('מאוישת', '')
daily_df['new station'] = daily_df['new station'].str.replace('ישנה', '')

In [ ]:
daily_df['new station'] = daily_df['new station'].str.replace('חווה', '')

In [ ]:
daily_df['new station'] = daily_df['new station'].str.strip()

In [ ]:
daily_df['new station'].unique()

array(['שדה בוקר', 'יטבתה', 'אילת', 'עבדת', 'סדום', 'חצבה', 'פארן',
       'נאות סמדר', 'מצפה רמון'], dtype=object)

In [ ]:
# Step 2: Extract month from the date and create a new column
daily_df['month'] = daily_df['date'].dt.month
daily_df

,station,date,max temp,min temp,near ground temp,Cumulative evaporation 12 hours (mm),Daily evaporation from A tub (mm),Duration of sun exposure (minutes),new station,month
0,שדה בוקר מאוישת /-/,1980-01-01,17.0,1.1,-1.5,NaN,2.1,NaN,שדה בוקר,1
1,יטבתה מאוישת /-/,1980-01-01,19.1,6.1,4.5,NaN,3.3,NaN,יטבתה,1
2,אילת /-/,1980-01-01,22.1,9.2,6.6,1.3,3.7,174.0,אילת,1
3,שדה בוקר מאוישת /-/,1980-01-02,17.4,2.0,-0.9,NaN,2.5,NaN,שדה בוקר,1
4,יטבתה מאוישת /-/,1980-01-02,20.9,4.8,2.0,NaN,4.0,NaN,יטבתה,1
...,...,...,...,...,...,...,...,...,...,...
148016,חצבה /-/,2023-06-30,38.6,24.7,24.1,NaN,NaN,NaN,חצבה,6
148017,פארן /-/,2023-06-30,36.5,21.2,19.8,NaN,NaN,NaN,פארן,6
148018,יטבתה /-/,2023-06-30,36.8,22.3,20.9,NaN,NaN,NaN,יטבתה,6
148019,אילת מאוישת /-/,2023-06-30,NaN,NaN,NaN,NaN,NaN,NaN,אילת,6
148020,אילת /-/,2023-06-30,38.1,26.0,NaN,NaN,NaN,NaN,אילת,6

In [ ]:
# Step 3: Extract year from the date and create a new column
daily_df['year'] = daily_df['date'].dt.year

In [ ]:
station_avg_temp = daily_df.groupby('new station').mean()

<ipython-input-14-9323027fa2ab>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  station_avg_temp = daily_df.groupby('new station').mean()

In [ ]:
fill_cols = ['max temp', 'min temp', 'near ground temp', 'Cumulative evaporation 12 hours (mm)', 'Daily evaporation from A tub (mm)', 'Duration of sun exposure (minutes)']
for col in fill_cols:
  daily_df[col].fillna(daily_df['new station'].map(station_avg_temp[col]), inplace=True)

In [ ]:
# Step 4: Group by "station" and "month", then calculate the mean for each group
average_by_station_month = daily_df.groupby(['new station', 'month', 'year']).mean().reset_index()
average_by_station_month

<ipython-input-16-a47aeb2c136e>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_by_station_month = daily_df.groupby(['new station', 'month', 'year']).mean().reset_index()

,new station,month,year,max temp,min temp,near ground temp,Cumulative evaporation 12 hours (mm),Daily evaporation from A tub (mm),Duration of sun exposure (minutes)
0,אילת,1,1980,20.719355,8.861290,7.204609,2.887097,3.961290,466.965673
1,אילת,1,1981,19.841935,9.022581,6.258065,2.496774,3.641935,437.225806
2,אילת,1,1982,21.383871,10.316129,8.857604,2.879255,3.654839,464.509924
3,אילת,1,1983,18.048387,7.293548,5.433641,2.303226,3.196774,384.901157
4,אילת,1,1984,21.087097,8.861290,7.101383,2.359900,3.523103,440.903226
...,...,...,...,...,...,...,...,...,...
3703,שדה בוקר,12,2018,21.210659,9.450945,7.308700,11.000000,5.020875,NaN
3704,שדה בוקר,12,2019,21.609046,8.892881,6.674829,11.000000,5.101957,NaN
3705,שדה בוקר,12,2020,22.307433,9.386429,7.187733,11.000000,4.915162,NaN
3706,שדה בוקר,12,2021,21.476788,9.447720,7.274829,11.000000,5.155183,NaN
3707,שדה בוקר,12,2022,22.213885,9.510623,7.223216,11.000000,5.286265,NaN

In [ ]:
average_by_station_month.to_csv("average_by_station_month_year.csv")

# New Section2

In [ ]:
import pandas as pd
rain_df = pd.read_excel("/content/גשם חודשי מ1980 עד 2023.xlsx")

In [ ]:
rain_df

,תחנה,תאריך,"כמות הגשם החודשית (מ""מ)",מספר ימי גשם בחודש (מספר),היום עם כמות הגשם המקסימלית (יום),"כמות יומית מקסימלית (מ""מ)"
0,שדה בוקר מאוישת 09/1951-07/2023,01/1980,19.4,6.0,23.0,13.5
1,עבדת חווה 09/1960-05/2000,01/1980,8.0,3.0,23.0,7.0
2,מצפה רמון צפון 09/1969-05/2005,01/1980,10.4,4.0,23.0,5.6
3,סדום מאוישת 09/1959-07/2018,01/1980,5.5,2.0,23.0,4.0
4,יטבתה מאוישת 10/1977-02/2014,01/1980,1.5,1.0,23.0,1.5
...,...,...,...,...,...,...
4331,חצבה 09/2009-07/2023,07/2023,0.0,0.0,NaN,0.0
4332,פארן 02/2006-07/2023,07/2023,0.0,0.0,NaN,0.0
4333,יטבתה 09/2009-07/2023,07/2023,0.0,0.0,NaN,0.0
4334,אילת מאוישת 09/1997-07/2023,07/2023,0.0,0.0,NaN,0.0
4335,אילת 09/2004-07/2023,07/2023,0.0,0.0,NaN,0.0

In [ ]:
rain_df['תחנה'] = rain_df['תחנה'].str.replace(r'\d+', '')
rain_df['תחנה חדש'] = rain_df['תחנה'].str.extractall(r'\b(\w{3,})\b').groupby(level=0).agg(' '.join)

<ipython-input-20-5039dc2449bc>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  rain_df['תחנה'] = rain_df['תחנה'].str.replace(r'\d+', '')

In [ ]:
rain_df['תחנה חדש'] = rain_df['תחנה חדש'].str.replace('מאוישת', '')
rain_df['תחנה חדש'] = rain_df['תחנה חדש'].str.replace('ישנה', '')

In [ ]:
rain_df['תחנה חדש'] = rain_df['תחנה חדש'].str.replace('חווה', '')

In [ ]:
rain_df['תחנה חדש'] = rain_df['תחנה חדש'].str.replace('שדה', '')

In [ ]:
rain_df['תחנה חדש'] = rain_df['תחנה חדש'].str.replace('תעופה', '')

In [ ]:
rain_df['תחנה חדש'] = rain_df['תחנה חדש'].str.replace('מרחצאות', '')

In [ ]:
rain_df['תחנה חדש'] = rain_df['תחנה חדש'].str.replace('צפון', '')

In [ ]:
rain_df['תחנה חדש'] = rain_df['תחנה חדש'].str.strip()

In [ ]:
rain_df['תחנה חדש'].value_counts()

בוקר         637
אילת         633
סדום         556
יטבתה        461
חצבה         438
פארן         422
נאות סמדר    415
מצפה רמון    408
עבדת         340
עין יהב       26
Name: תחנה חדש, dtype: int64

In [ ]:
rain_df

,תחנה,תאריך,"כמות הגשם החודשית (מ""מ)",מספר ימי גשם בחודש (מספר),היום עם כמות הגשם המקסימלית (יום),"כמות יומית מקסימלית (מ""מ)",תחנה חדש
0,שדה בוקר מאוישת /-/,01/1980,19.4,6.0,23.0,13.5,בוקר
1,עבדת חווה /-/,01/1980,8.0,3.0,23.0,7.0,עבדת
2,מצפה רמון צפון /-/,01/1980,10.4,4.0,23.0,5.6,מצפה רמון
3,סדום מאוישת /-/,01/1980,5.5,2.0,23.0,4.0,סדום
4,יטבתה מאוישת /-/,01/1980,1.5,1.0,23.0,1.5,יטבתה
...,...,...,...,...,...,...,...
4331,חצבה /-/,07/2023,0.0,0.0,NaN,0.0,חצבה
4332,פארן /-/,07/2023,0.0,0.0,NaN,0.0,פארן
4333,יטבתה /-/,07/2023,0.0,0.0,NaN,0.0,יטבתה
4334,אילת מאוישת /-/,07/2023,0.0,0.0,NaN,0.0,אילת
4335,אילת /-/,07/2023,0.0,0.0,NaN,0.0,אילת

In [ ]:
import pandas as pd


# Split 'date_column' into 'month' and 'year' columns
rain_df[['month', 'year']] = rain_df['תאריך'].str.split('/', expand=True)

# Convert 'month' and 'year' columns to integers (optional)
rain_df['month'] = rain_df['month'].astype(int)
rain_df['year'] = rain_df['year'].astype(int)

In [ ]:
rain_df = rain_df.drop('תחנה', axis = 1)

In [ ]:
rain_df = rain_df.drop('תאריך', axis = 1)

In [ ]:
rain_df = rain_df.drop_duplicates()

In [ ]:
rain_df

,"כמות הגשם החודשית (מ""מ)",מספר ימי גשם בחודש (מספר),היום עם כמות הגשם המקסימלית (יום),"כמות יומית מקסימלית (מ""מ)",תחנה חדש,month,year
0,19.4,6.0,23.0,13.5,בוקר,1,1980
1,8.0,3.0,23.0,7.0,עבדת,1,1980
2,10.4,4.0,23.0,5.6,מצפה רמון,1,1980
3,5.5,2.0,23.0,4.0,סדום,1,1980
4,1.5,1.0,23.0,1.5,יטבתה,1,1980
...,...,...,...,...,...,...,...
4330,0.0,0.0,NaN,0.0,סדום,7,2023
4331,0.0,0.0,NaN,0.0,חצבה,7,2023
4332,0.0,0.0,NaN,0.0,פארן,7,2023
4333,0.0,0.0,NaN,0.0,יטבתה,7,2023
4334,0.0,0.0,NaN,0.0,אילת,7,2023

In [ ]:
rain_df.to_csv('monthly_rain.csv')

# New Section3

In [ ]:
import pandas as pd

hour_df = pd.read_csv("/content/לחץ, רוח, טמפ, לחות שעתי.csv")

In [ ]:
hour_df

,תחנה,תאריך ושעה (שעון קיץ),לחץ בגובה התחנה (הקטופסקל),לחץ בגובה פני הים (הקטופסקל),טמפרטורה (C°),טמפרטורה לחה (C°),טמפרטורת נקודת הטל (C°),לחות יחסית (%),כיוון הרוח (מעלות),מהירות רוח (מטר לשניה)
0,אילת 10/1949-09/1997,01-01-1980 03:00,1018.6,1018.9,11.4,8.0,3.7,59.0,330.0,4.0
1,אילת 10/1949-09/1997,01-01-1980 06:00,1018.8,1019.1,10.5,7.8,4.4,66.0,330.0,3.5
2,שדה בוקר מאוישת 01/1964-06/2023,01-01-1980 09:00,NaN,NaN,9.1,6.9,4.2,72.0,0.0,0.0
3,יטבתה מאוישת 01/1975-06/2023,01-01-1980 09:00,NaN,NaN,8.7,6.7,4.1,73.0,20.0,1.0
4,אילת 10/1949-09/1997,01-01-1980 09:00,1018.8,1019.1,10.3,7.4,3.6,63.0,20.0,3.0
...,...,...,...,...,...,...,...,...,...,...
149995,אילת 05/2001-06/2023,26-11-2001 09:00,NaN,NaN,15.7,9.3,0.9,37.0,50.0,2.0
149996,חצבה 01/1997-06/2023,26-11-2001 12:00,NaN,NaN,22.7,15.3,8.7,41.0,130.0,2.5
149997,פארן ישנה 12/1997-01/2006,26-11-2001 12:00,NaN,NaN,22.2,13.6,4.9,32.0,150.0,1.0
149998,יטבתה 01/1999-06/2023,26-11-2001 12:00,NaN,NaN,21.0,11.4,-0.8,23.0,70.0,3.0
149999,אילת מאוישת 10/1997-06/2023,26-11-2001 12:00,1016.7,1017.0,22.6,14.0,5.4,33.0,30.0,4.0

In [ ]:
hour_df['תחנה'] = hour_df['תחנה'].str.replace(r'\d+', '')
hour_df['תחנה חדש'] = hour_df['תחנה'].str.extractall(r'\b(\w{3,})\b').groupby(level=0).agg(' '.join)

<ipython-input-41-207991c4eff2>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  hour_df['תחנה'] = hour_df['תחנה'].str.replace(r'\d+', '')

In [ ]:
hour_df['תחנה חדש'] = hour_df['תחנה חדש'].str.replace('מאוישת', '')
hour_df['תחנה חדש'] = hour_df['תחנה חדש'].str.replace('ישנה', '')

In [ ]:
hour_df['תחנה חדש'] = hour_df['תחנה חדש'].str.replace('חווה', '')

In [ ]:
hour_df['תחנה חדש'] = hour_df['תחנה חדש'].str.replace('שדה', '')

In [ ]:
hour_df['תחנה חדש'] = hour_df['תחנה חדש'].str.replace('תעופה', '')

In [ ]:
hour_df['תחנה חדש'] = hour_df['תחנה חדש'].str.replace('מרחצאות', '')

In [ ]:
hour_df['תחנה חדש'] = hour_df['תחנה חדש'].str.strip()

In [ ]:
hour_df['תחנה חדש'].value_counts()

אילת     58410
בוקר     21841
סדום     20827
חצבה     17609
יטבתה    15892
פארן     11517
עבדת      3904
Name: תחנה חדש, dtype: int64

In [ ]:
hour_df

In [ ]:
hour_df.columns = ['station', 'date and time', 'Pressure at station height (hectoscale)', 'Pressure at sea level (hectoscale)', 'Temperature (C°)', 'Humid temperature (C°)', 'Dew point temperature (C°)', 'Relative humidity (%)', 'Wind direction (degrees)', 'Wind speed (meters per second)', 'new station']

In [ ]:
# Convert 'datetime_column' to a pandas datetime object
hour_df['date and time'] = pd.to_datetime(hour_df['date and time'], format='%d-%m-%Y %H:%M')

# Extract the 'date' from the 'datetime_column'
hour_df['date'] = hour_df['date and time'].dt.date

# Group the data by 'date' and calculate the mean for each day
daily_means = hour_df.groupby(['new station','date']).mean()

<ipython-input-50-1f9103a44081>:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily_means = hour_df.groupby(['new station','date']).mean()

In [ ]:
daily_means

                        Pressure at station height (hectoscale)  \
new station date
אילת        1980-01-01                              1017.828571
            1980-01-02                              1017.750000
            1980-01-03                              1016.525000
            1980-01-04                              1015.862500
            1980-01-05                              1016.512500
...                                                         ...
פארן        2001-11-22                                      NaN
            2001-11-23                                      NaN
            2001-11-24                                      NaN
            2001-11-25                                      NaN
            2001-11-26                                      NaN

                        Pressure at sea level (hectoscale)  Temperature (C°)  \
new station date
אילת        1980-01-01                         1018.128571         15.085714
            1980-01-02                         1018.050000         15.075000
            1980-01-03                         1016.825000         14.525000
            1980-01-04                         1016.162500         14.612500
            1980-01-05                         1016.812500         14.475000
...                                                    ...               ...
פארן        2001-11-22                                 NaN         18.612500
            2001-11-23                                 NaN         15.637500
            2001-11-24                                 NaN         13.500000
            2001-11-25                                 NaN         15.587500
            2001-11-26                                 NaN         13.440000

                        Humid temperature (C°)  Dew point temperature (C°)  \
new station date
אילת        1980-01-01                   9.600                    2.871429
            1980-01-02                   8.550                   -0.487500
            1980-01-03                   8.200                   -0.625000
            1980-01-04                   8.525                    0.500000
            1980-01-05                   8.325                   -0.287500
...                                        ...                         ...
פארן        2001-11-22                  12.525                    6.137500
            2001-11-23                  11.450                    7.275000
            2001-11-24                   9.150                    4.175000
            2001-11-25                   8.800                   -0.875000
            2001-11-26                   7.780                   -0.040000

                        Relative humidity (%)  Wind direction (degrees)  \
new station date
אילת        1980-01-01              46.571429                204.285714
            1980-01-02              37.250000                272.500000
            1980-01-03              36.625000                145.000000
            1980-01-04              40.500000                108.750000
            1980-01-05              37.500000                238.750000
...                                       ...                       ...
פארן        2001-11-22              46.625000                220.000000
            2001-11-23              58.750000                142.500000
            2001-11-24              56.125000                245.000000
            2001-11-25              41.500000                142.500000
            2001-11-26              41.000000                184.000000

                        Wind speed (meters per second)
new station date
אילת        1980-01-01                        3.285714
            1980-01-02                        2.375000
            1980-01-03                        4.062500
            1980-01-04                        2.187500
            1980-01-05                        2.375000
...                                                ...
פארן        2001-11-22                        1.937500
            2001-11-23                        1.812500
            2001-11-24                        1.500000
            2001-11-25                        1.312500
            2001-11-26                        1.500000

[36827 rows x 8 columns]

In [ ]:
daily_means = daily_means.reset_index()

In [ ]:
daily_means

,new station,date,Pressure at station height (hectoscale),Pressure at sea level (hectoscale),Temperature (C°),Humid temperature (C°),Dew point temperature (C°),Relative humidity (%),Wind direction (degrees),Wind speed (meters per second)
0,אילת,1980-01-01,1017.828571,1018.128571,15.085714,9.600,2.871429,46.571429,204.285714,3.285714
1,אילת,1980-01-02,1017.750000,1018.050000,15.075000,8.550,-0.487500,37.250000,272.500000,2.375000
2,אילת,1980-01-03,1016.525000,1016.825000,14.525000,8.200,-0.625000,36.625000,145.000000,4.062500
3,אילת,1980-01-04,1015.862500,1016.162500,14.612500,8.525,0.500000,40.500000,108.750000,2.187500
4,אילת,1980-01-05,1016.512500,1016.812500,14.475000,8.325,-0.287500,37.500000,238.750000,2.375000
...,...,...,...,...,...,...,...,...,...,...
36822,פארן,2001-11-22,NaN,NaN,18.612500,12.525,6.137500,46.625000,220.000000,1.937500
36823,פארן,2001-11-23,NaN,NaN,15.637500,11.450,7.275000,58.750000,142.500000,1.812500
36824,פארן,2001-11-24,NaN,NaN,13.500000,9.150,4.175000,56.125000,245.000000,1.500000
36825,פארן,2001-11-25,NaN,NaN,15.587500,8.800,-0.875000,41.500000,142.500000,1.312500
36826,פארן,2001-11-26,NaN,NaN,13.440000,7.780,-0.040000,41.000000,184.000000,1.500000

In [ ]:
# Convert 'datetime_column' to a pandas datetime object
daily_means['date'] = pd.to_datetime(daily_means['date'], format='%Y-%m-%d')
daily_means['month'] = daily_means['date'].dt.month

daily_means['year'] = daily_means['date'].dt.year

In [ ]:
daily_means

In [ ]:
average_by_station_month = daily_means.groupby(['new station', 'month', 'year']).mean().reset_index()

<ipython-input-55-bb6b964c8cc7>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_by_station_month = daily_means.groupby(['new station', 'month', 'year']).mean().reset_index()

In [ ]:
average_by_station_month

,new station,month,year,Pressure at station height (hectoscale),Pressure at sea level (hectoscale),Temperature (C°),Humid temperature (C°),Dew point temperature (C°),Relative humidity (%),Wind direction (degrees),Wind speed (meters per second)
0,אילת,1,1980,1017.968260,1018.268664,14.516071,9.091935,1.955530,45.675691,162.597926,3.214862
1,אילת,1,1981,1015.585081,1015.885484,14.586290,9.011694,1.538710,43.899194,170.362903,2.155242
2,אילת,1,1982,1016.315323,1016.624194,15.759677,10.146371,2.943145,45.520161,165.080645,3.659274
3,אילת,1,1983,1020.017339,1020.323387,12.922984,7.687673,0.264286,44.062788,107.344470,3.088134
4,אילת,1,1984,1017.877419,1018.177419,15.322581,9.683468,2.585484,44.895161,97.741935,3.193548
...,...,...,...,...,...,...,...,...,...,...,...
1258,פארן,11,2001,NaN,NaN,18.134231,12.188173,5.955673,48.365385,153.230769,1.591346
1259,פארן,12,1997,NaN,NaN,13.942166,10.341866,6.701002,64.723733,171.722350,1.826325
1260,פארן,12,1998,NaN,NaN,14.174309,9.894124,5.131797,57.106567,181.653226,1.681452
1261,פארן,12,1999,NaN,NaN,12.957488,8.840841,3.824194,57.319700,182.943548,1.588710
1262,פארן,12,2000,NaN,NaN,13.709159,11.223790,8.872293,74.274194,151.693548,1.703629

In [ ]:
average_by_station_month.to_csv('monthly_average_pressure_wind_humidity_temp.csv')

# New Section4

In [ ]:
import pandas as pd
volumes1980 = pd.read_csv("/content/Daily volumes and average flow at the stations 1980-2000.csv", encoding="latin-1")

In [ ]:
volumes1980

,æéäåé úçðä äéãøåîèøéú,ùí úçðä äéãøåîèøéú,ùí úçðä áàðâìéú,úàøéê,ðôç éåîé (îèø ÷åá),ñôé÷ä éåîéú îîåöòú (îèø ÷åá/ùðéä),ùðä äéãøåìåâéú
0,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,01/10/1980,0.0,0.0,1980/1981
1,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,02/10/1980,0.0,0.0,1980/1981
2,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,03/10/1980,0.0,0.0,1980/1981
3,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,04/10/1980,0.0,0.0,1980/1981
4,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,05/10/1980,0.0,0.0,1980/1981
...,...,...,...,...,...,...,...
581739,60105,éòìåï - ÷éáåõ éäì,YA'ALON - KIBBUZ YAHAL,26/09/2000,0.0,0.0,1999/2000
581740,60105,éòìåï - ÷éáåõ éäì,YA'ALON - KIBBUZ YAHAL,27/09/2000,0.0,0.0,1999/2000
581741,60105,éòìåï - ÷éáåõ éäì,YA'ALON - KIBBUZ YAHAL,28/09/2000,0.0,0.0,1999/2000
581742,60105,éòìåï - ÷éáåõ éäì,YA'ALON - KIBBUZ YAHAL,29/09/2000,0.0,0.0,1999/2000
581743,60105,éòìåï - ÷éáåõ éäì,YA'ALON - KIBBUZ YAHAL,30/09/2000,0.0,0.0,1999/2000

In [ ]:
volumes1980.columns = ['station code', 'station hebrew', 'station name', 'date', 'daily volume (cubic meter)', 'Average daily flow (cubic meters/second)', 'hydrological year']

In [ ]:
volumes1980 = volumes1980.drop(['station code', 'station hebrew', 'hydrological year'], axis = 1)
volumes1980

,station name,date,daily volume (cubic meter),Average daily flow (cubic meters/second)
0,KEZIV - HAZIV BRIDGE,01/10/1980,0.0,0.0
1,KEZIV - HAZIV BRIDGE,02/10/1980,0.0,0.0
2,KEZIV - HAZIV BRIDGE,03/10/1980,0.0,0.0
3,KEZIV - HAZIV BRIDGE,04/10/1980,0.0,0.0
4,KEZIV - HAZIV BRIDGE,05/10/1980,0.0,0.0
...,...,...,...,...
581739,YA'ALON - KIBBUZ YAHAL,26/09/2000,0.0,0.0
581740,YA'ALON - KIBBUZ YAHAL,27/09/2000,0.0,0.0
581741,YA'ALON - KIBBUZ YAHAL,28/09/2000,0.0,0.0
581742,YA'ALON - KIBBUZ YAHAL,29/09/2000,0.0,0.0
581743,YA'ALON - KIBBUZ YAHAL,30/09/2000,0.0,0.0

In [ ]:
# Step 1: Convert "date" column to pandas datetime
volumes1980['date'] = pd.to_datetime(volumes1980['date'], format='%d/%m/%Y')

In [ ]:
volumes1980['month'] = volumes1980['date'].dt.month
volumes1980['year'] = volumes1980['date'].dt.year

In [ ]:
volumes1980

,station name,date,daily volume (cubic meter),Average daily flow (cubic meters/second),month,year
0,KEZIV - HAZIV BRIDGE,1980-10-01,0.0,0.0,10,1980
1,KEZIV - HAZIV BRIDGE,1980-10-02,0.0,0.0,10,1980
2,KEZIV - HAZIV BRIDGE,1980-10-03,0.0,0.0,10,1980
3,KEZIV - HAZIV BRIDGE,1980-10-04,0.0,0.0,10,1980
4,KEZIV - HAZIV BRIDGE,1980-10-05,0.0,0.0,10,1980
...,...,...,...,...,...,...
581739,YA'ALON - KIBBUZ YAHAL,2000-09-26,0.0,0.0,9,2000
581740,YA'ALON - KIBBUZ YAHAL,2000-09-27,0.0,0.0,9,2000
581741,YA'ALON - KIBBUZ YAHAL,2000-09-28,0.0,0.0,9,2000
581742,YA'ALON - KIBBUZ YAHAL,2000-09-29,0.0,0.0,9,2000
581743,YA'ALON - KIBBUZ YAHAL,2000-09-30,0.0,0.0,9,2000

In [ ]:
station_list = ['Arugot',
'Darga',
'Paran - the bottleneck',
'Paran - western border',
'Pehami',
"Ya'alon - kibbuz yahal",
'Zihor',
'Zin - masos',
'Zin - waterfall',
'Zin - west of arava road',
"Zin upper - 'avedat",
'Arava - en yahav reservoir',
'Arava-hazava',
'Arugot - up highway 90',
'Ashalim canal',
'Ashalim upstream',
'Boqeq',
'Emziyahy-tamar spring upstream',
'Hemar - downstream the cliff',
'Paran - arava road',
'South arava-yael',
'Timna - park',
'Tzin - arava road',
'Zin-upstream from waterfall',
'Tmarim',
"Ammi'az",
'Admon']
station_list = [x.upper() for x in station_list]

In [ ]:
station_list = ['PARAN - ARAVA ROAD', 'ARAVA-HAZAVA', 'ZIN - MASOS',
       'EMZIYAHY-TAMAR SPRING UPSTREAM', 'TZIN - ARAVA ROAD', 'RAHAM',
       'TIMNA - PARK', 'ZIHOR', "YA'ALON - KIBBUZ YAHAL",
       'PARAN - THE BOTTLENECK', 'AROD', 'MASOR', 'UBA', "HIYON- 40 ROAD",
        "SOUTH ARAVA-YAEL", "NEQAROT - UPPER", 'ARAVA - EN YAHAV RESERVOIR', 'ASHALIM CANAL']
station_list = [x.upper() for x in station_list]

In [ ]:
station_list

['PARAN - ARAVA ROAD',
 'ARAVA-HAZAVA',
 'ZIN - MASOS',
 'EMZIYAHY-TAMAR SPRING UPSTREAM',
 'TZIN - ARAVA ROAD',
 'RAHAM',
 'TIMNA - PARK',
 'ZIHOR',
 "YA'ALON - KIBBUZ YAHAL",
 'PARAN - THE BOTTLENECK',
 'AROD',
 'MASOR',
 'UBA',
 'HIYON- 40 ROAD',
 'SOUTH ARAVA-YAEL',
 'NEQAROT - UPPER',
 'ARAVA - EN YAHAV RESERVOIR',
 'ASHALIM CANAL']

In [ ]:
new_volumes1980 = volumes1980[volumes1980["station name"].isin(station_list)]
new_volumes1980

,station name,date,daily volume (cubic meter),Average daily flow (cubic meters/second),month,year
526017,ASHALIM CANAL,1997-01-24,NaN,NaN,1,1997
526018,ASHALIM CANAL,1997-01-25,NaN,NaN,1,1997
526019,ASHALIM CANAL,1997-01-26,NaN,NaN,1,1997
526020,ASHALIM CANAL,1997-01-27,NaN,NaN,1,1997
526021,ASHALIM CANAL,1997-01-28,NaN,NaN,1,1997
...,...,...,...,...,...,...
581739,YA'ALON - KIBBUZ YAHAL,2000-09-26,0.0,0.0,9,2000
581740,YA'ALON - KIBBUZ YAHAL,2000-09-27,0.0,0.0,9,2000
581741,YA'ALON - KIBBUZ YAHAL,2000-09-28,0.0,0.0,9,2000
581742,YA'ALON - KIBBUZ YAHAL,2000-09-29,0.0,0.0,9,2000
581743,YA'ALON - KIBBUZ YAHAL,2000-09-30,0.0,0.0,9,2000

In [ ]:
new_volumes1980["station name"].unique()

array(['ASHALIM CANAL', 'ZIN - MASOS', 'NEQAROT - UPPER',
       'PARAN - THE BOTTLENECK', 'ZIHOR', 'UBA', "YA'ALON - KIBBUZ YAHAL"],
      dtype=object)

In [ ]:
average_by_station_month = new_volumes1980.groupby(['station name', 'month', 'year']).mean().reset_index()

<ipython-input-69-fda49cebf3e8>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_by_station_month = new_volumes1980.groupby(['station name', 'month', 'year']).mean().reset_index()

In [ ]:
average_by_station_month = average_by_station_month.dropna()

In [ ]:
average_by_station_month

,station name,month,year,daily volume (cubic meter),Average daily flow (cubic meters/second)
45,NEQAROT - UPPER,1,1988,0.000000,0.000000
46,NEQAROT - UPPER,1,1989,0.000000,0.000000
47,NEQAROT - UPPER,1,1990,0.000000,0.000000
48,NEQAROT - UPPER,1,1991,0.000000,0.000000
49,NEQAROT - UPPER,1,1992,414.255161,0.004839
...,...,...,...,...,...
791,ZIN - MASOS,12,1995,0.000000,0.000000
792,ZIN - MASOS,12,1996,0.000000,0.000000
793,ZIN - MASOS,12,1997,3208.146129,0.037097
794,ZIN - MASOS,12,1998,0.000000,0.000000
795,ZIN - MASOS,12,1999,0.000000,0.000000

In [ ]:
import pandas as pd
volumes2000 = pd.read_csv("/content/Daily volumes and average flow at the stations 2000-2020.csv", encoding="latin-1")

In [ ]:
volumes2000

,æéäåé úçðä äéãøåîèøéú,ùí úçðä äéãøåîèøéú,ùí úçðä áàðâìéú,úàøéê,ðôç éåîé (îèø ÷åá),ñôé÷ä éåîéú îîåöòú (îèø ÷åá/ùðéä),ùðä äéãøåìåâéú
0,1102,áöú-ëáéù 4,BEZET- ROAD 4,25/01/2018,50330.42,0.58,2017/2018
1,1102,áöú-ëáéù 4,BEZET- ROAD 4,26/01/2018,56472.28,0.65,2017/2018
2,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,01/10/2000,0.00,0.00,2000/2001
3,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,02/10/2000,0.00,0.00,2000/2001
4,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,03/10/2000,0.00,0.00,2000/2001
...,...,...,...,...,...,...,...
771755,60190,ùìîä-àéìú,SHELOMO-EILAT,26/09/2020,0.00,0.00,2019/2020
771756,60190,ùìîä-àéìú,SHELOMO-EILAT,27/09/2020,0.00,0.00,2019/2020
771757,60190,ùìîä-àéìú,SHELOMO-EILAT,28/09/2020,0.00,0.00,2019/2020
771758,60190,ùìîä-àéìú,SHELOMO-EILAT,29/09/2020,0.00,0.00,2019/2020
771759,60190,ùìîä-àéìú,SHELOMO-EILAT,30/09/2020,0.00,0.00,2019/2020

In [ ]:
volumes2000.columns = ['station code', 'station hebrew', 'station name', 'date', 'daily volume (cubic meter)', 'Average daily flow (cubic meters/second)', 'hydrological year']

In [ ]:
volumes2000 = volumes2000.drop(['station code', 'station hebrew', 'hydrological year'], axis = 1)
volumes2000

,station name,date,daily volume (cubic meter),Average daily flow (cubic meters/second)
0,BEZET- ROAD 4,25/01/2018,50330.42,0.58
1,BEZET- ROAD 4,26/01/2018,56472.28,0.65
2,KEZIV - HAZIV BRIDGE,01/10/2000,0.00,0.00
3,KEZIV - HAZIV BRIDGE,02/10/2000,0.00,0.00
4,KEZIV - HAZIV BRIDGE,03/10/2000,0.00,0.00
...,...,...,...,...
771755,SHELOMO-EILAT,26/09/2020,0.00,0.00
771756,SHELOMO-EILAT,27/09/2020,0.00,0.00
771757,SHELOMO-EILAT,28/09/2020,0.00,0.00
771758,SHELOMO-EILAT,29/09/2020,0.00,0.00
771759,SHELOMO-EILAT,30/09/2020,0.00,0.00

In [ ]:
# Step 1: Convert "date" column to pandas datetime
volumes2000['date'] = pd.to_datetime(volumes2000['date'], format='%d/%m/%Y')

In [ ]:
volumes2000['month'] = volumes2000['date'].dt.month
volumes2000['year'] = volumes2000['date'].dt.year

In [ ]:
new_volumes2000 = volumes2000[volumes2000["station name"].isin(station_list)]
new_volumes2000

,station name,date,daily volume (cubic meter),Average daily flow (cubic meters/second),month,year
592079,ASHALIM CANAL,2000-10-01,NaN,NaN,10,2000
592080,ASHALIM CANAL,2000-10-02,NaN,NaN,10,2000
592081,ASHALIM CANAL,2000-10-03,NaN,NaN,10,2000
592082,ASHALIM CANAL,2000-10-04,NaN,NaN,10,2000
592083,ASHALIM CANAL,2000-10-05,NaN,NaN,10,2000
...,...,...,...,...,...,...
756012,RAHAM,2020-09-26,0.0,0.0,9,2020
756013,RAHAM,2020-09-27,0.0,0.0,9,2020
756014,RAHAM,2020-09-28,0.0,0.0,9,2020
756015,RAHAM,2020-09-29,0.0,0.0,9,2020
756016,RAHAM,2020-09-30,0.0,0.0,9,2020

In [ ]:
new_volumes2000["station name"].unique()

array(['ASHALIM CANAL', 'ZIN - MASOS', 'TZIN - ARAVA ROAD',
       'NEQAROT - UPPER', 'AROD', 'PARAN - THE BOTTLENECK', 'ZIHOR',
       'PARAN - ARAVA ROAD', 'HIYON- 40 ROAD',
       'ARAVA - EN YAHAV RESERVOIR', 'ARAVA-HAZAVA', 'MASOR', 'UBA',
       'EMZIYAHY-TAMAR SPRING UPSTREAM', "YA'ALON - KIBBUZ YAHAL",
       'SOUTH ARAVA-YAEL', 'TIMNA - PARK', 'RAHAM'], dtype=object)

In [ ]:
average_by_station_month_2000 = new_volumes2000.groupby(['station name', 'month', 'year']).mean().reset_index()

<ipython-input-79-7481e64a7650>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_by_station_month_2000 = new_volumes2000.groupby(['station name', 'month', 'year']).mean().reset_index()

In [ ]:
average_by_station_month_2000

,station name,month,year,daily volume (cubic meter),Average daily flow (cubic meters/second)
0,ARAVA - EN YAHAV RESERVOIR,1,2008,NaN,NaN
1,ARAVA - EN YAHAV RESERVOIR,1,2009,0.000000e+00,0.00000
2,ARAVA - EN YAHAV RESERVOIR,1,2010,1.354225e+06,15.67381
3,ARAVA - EN YAHAV RESERVOIR,1,2011,0.000000e+00,0.00000
4,ARAVA - EN YAHAV RESERVOIR,1,2012,NaN,NaN
...,...,...,...,...,...
3253,ZIN - MASOS,12,2015,0.000000e+00,0.00000
3254,ZIN - MASOS,12,2016,0.000000e+00,0.00000
3255,ZIN - MASOS,12,2017,0.000000e+00,0.00000
3256,ZIN - MASOS,12,2018,0.000000e+00,0.00000
3257,ZIN - MASOS,12,2019,0.000000e+00,0.00000

In [ ]:
average_by_station_month_2000 = average_by_station_month_2000.dropna()

In [ ]:
average_by_station_month_2000

,station name,month,year,daily volume (cubic meter),Average daily flow (cubic meters/second)
1,ARAVA - EN YAHAV RESERVOIR,1,2009,0.000000e+00,0.000000
2,ARAVA - EN YAHAV RESERVOIR,1,2010,1.354225e+06,15.673810
3,ARAVA - EN YAHAV RESERVOIR,1,2011,0.000000e+00,0.000000
6,ARAVA - EN YAHAV RESERVOIR,1,2014,1.530485e+04,0.177097
7,ARAVA - EN YAHAV RESERVOIR,1,2015,1.081221e+05,1.251290
...,...,...,...,...,...
3253,ZIN - MASOS,12,2015,0.000000e+00,0.000000
3254,ZIN - MASOS,12,2016,0.000000e+00,0.000000
3255,ZIN - MASOS,12,2017,0.000000e+00,0.000000
3256,ZIN - MASOS,12,2018,0.000000e+00,0.000000
3257,ZIN - MASOS,12,2019,0.000000e+00,0.000000

In [ ]:
import pandas as pd
volumes2021 = pd.read_csv("/content/Daily volumes and average flow at the stations 2020-2021.csv", encoding="latin-1")

In [ ]:
volumes2021

,æéäåé úçðä äéãøåîèøéú,ùí úçðä äéãøåîèøéú,ùí úçðä áàðâìéú,úàøéê,ðôç éåîé (îèø ÷åá),ñôé÷ä éåîéú îîåöòú (îèø ÷åá/ùðéä),ùðä äéãøåìåâéú
0,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,01/10/2020,0.0,0.0,2020/2021
1,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,02/10/2020,0.0,0.0,2020/2021
2,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,03/10/2020,0.0,0.0,2020/2021
3,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,04/10/2020,0.0,0.0,2020/2021
4,2105,ëæéá - âùø äæéå,KEZIV - HAZIV BRIDGE,05/10/2020,0.0,0.0,2020/2021
...,...,...,...,...,...,...,...
41605,60190,ùìîä-àéìú,SHELOMO-EILAT,26/09/2021,0.0,0.0,2020/2021
41606,60190,ùìîä-àéìú,SHELOMO-EILAT,27/09/2021,0.0,0.0,2020/2021
41607,60190,ùìîä-àéìú,SHELOMO-EILAT,28/09/2021,0.0,0.0,2020/2021
41608,60190,ùìîä-àéìú,SHELOMO-EILAT,29/09/2021,0.0,0.0,2020/2021
41609,60190,ùìîä-àéìú,SHELOMO-EILAT,30/09/2021,0.0,0.0,2020/2021

In [ ]:
volumes2021.columns = ['station code', 'station hebrew', 'station name', 'date', 'daily volume (cubic meter)', 'Average daily flow (cubic meters/second)', 'hydrological year']

In [ ]:
volumes2021 = volumes2021.drop(['station code', 'station hebrew', 'hydrological year'], axis = 1)
volumes2021

,station name,date,daily volume (cubic meter),Average daily flow (cubic meters/second)
0,KEZIV - HAZIV BRIDGE,01/10/2020,0.0,0.0
1,KEZIV - HAZIV BRIDGE,02/10/2020,0.0,0.0
2,KEZIV - HAZIV BRIDGE,03/10/2020,0.0,0.0
3,KEZIV - HAZIV BRIDGE,04/10/2020,0.0,0.0
4,KEZIV - HAZIV BRIDGE,05/10/2020,0.0,0.0
...,...,...,...,...
41605,SHELOMO-EILAT,26/09/2021,0.0,0.0
41606,SHELOMO-EILAT,27/09/2021,0.0,0.0
41607,SHELOMO-EILAT,28/09/2021,0.0,0.0
41608,SHELOMO-EILAT,29/09/2021,0.0,0.0
41609,SHELOMO-EILAT,30/09/2021,0.0,0.0

In [ ]:
# Step 1: Convert "date" column to pandas datetime
volumes2021['date'] = pd.to_datetime(volumes2021['date'], format='%d/%m/%Y')

In [ ]:
volumes2021['month'] = volumes2021['date'].dt.month
volumes2021['year'] = volumes2021['date'].dt.year

In [ ]:
new_volumes2021 = volumes2021[volumes2021["station name"].isin(station_list)]
new_volumes2021

,station name,date,daily volume (cubic meter),Average daily flow (cubic meters/second),month,year
30295,ASHALIM CANAL,2020-10-01,0.0,0.0,10,2020
30296,ASHALIM CANAL,2020-10-02,0.0,0.0,10,2020
30297,ASHALIM CANAL,2020-10-03,0.0,0.0,10,2020
30298,ASHALIM CANAL,2020-10-04,0.0,0.0,10,2020
30299,ASHALIM CANAL,2020-10-05,0.0,0.0,10,2020
...,...,...,...,...,...,...
40510,RAHAM,2021-09-26,0.0,0.0,9,2021
40511,RAHAM,2021-09-27,0.0,0.0,9,2021
40512,RAHAM,2021-09-28,0.0,0.0,9,2021
40513,RAHAM,2021-09-29,0.0,0.0,9,2021
40514,RAHAM,2021-09-30,0.0,0.0,9,2021

In [ ]:
new_volumes2021["station name"].unique()

array(['ASHALIM CANAL', 'ZIN - MASOS', 'TZIN - ARAVA ROAD',
       'NEQAROT - UPPER', 'AROD', 'PARAN - THE BOTTLENECK', 'ZIHOR',
       'PARAN - ARAVA ROAD', 'HIYON- 40 ROAD',
       'ARAVA - EN YAHAV RESERVOIR', 'MASOR', 'UBA',
       'EMZIYAHY-TAMAR SPRING UPSTREAM', "YA'ALON - KIBBUZ YAHAL",
       'SOUTH ARAVA-YAEL', 'TIMNA - PARK', 'RAHAM'], dtype=object)

In [ ]:
average_by_station_month_2021 = new_volumes2021.groupby(['station name', 'month', 'year']).mean().reset_index()

<ipython-input-90-0bb9427a7803>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_by_station_month_2021 = new_volumes2021.groupby(['station name', 'month', 'year']).mean().reset_index()

In [ ]:
average_by_station_month_2021

,station name,month,year,daily volume (cubic meter),Average daily flow (cubic meters/second)
0,ARAVA - EN YAHAV RESERVOIR,1,2021,0.0,0.0
1,ARAVA - EN YAHAV RESERVOIR,2,2021,0.0,0.0
2,ARAVA - EN YAHAV RESERVOIR,3,2021,0.0,0.0
3,ARAVA - EN YAHAV RESERVOIR,4,2021,0.0,0.0
4,ARAVA - EN YAHAV RESERVOIR,5,2021,0.0,0.0
...,...,...,...,...,...
199,ZIN - MASOS,8,2021,0.0,0.0
200,ZIN - MASOS,9,2021,0.0,0.0
201,ZIN - MASOS,10,2020,0.0,0.0
202,ZIN - MASOS,11,2020,0.0,0.0
203,ZIN - MASOS,12,2020,0.0,0.0

In [ ]:
average_by_station_month_2021 = average_by_station_month_2021.dropna()

In [ ]:
average_by_station_month_2021

,station name,month,year,daily volume (cubic meter),Average daily flow (cubic meters/second)
0,ARAVA - EN YAHAV RESERVOIR,1,2021,0.0,0.0
1,ARAVA - EN YAHAV RESERVOIR,2,2021,0.0,0.0
2,ARAVA - EN YAHAV RESERVOIR,3,2021,0.0,0.0
3,ARAVA - EN YAHAV RESERVOIR,4,2021,0.0,0.0
4,ARAVA - EN YAHAV RESERVOIR,5,2021,0.0,0.0
...,...,...,...,...,...
199,ZIN - MASOS,8,2021,0.0,0.0
200,ZIN - MASOS,9,2021,0.0,0.0
201,ZIN - MASOS,10,2020,0.0,0.0
202,ZIN - MASOS,11,2020,0.0,0.0
203,ZIN - MASOS,12,2020,0.0,0.0

In [ ]:
concatenated_df = pd.concat([average_by_station_month, average_by_station_month_2000, average_by_station_month_2021])
concatenated_df

,station name,month,year,daily volume (cubic meter),Average daily flow (cubic meters/second)
45,NEQAROT - UPPER,1,1988,0.000000,0.000000
46,NEQAROT - UPPER,1,1989,0.000000,0.000000
47,NEQAROT - UPPER,1,1990,0.000000,0.000000
48,NEQAROT - UPPER,1,1991,0.000000,0.000000
49,NEQAROT - UPPER,1,1992,414.255161,0.004839
...,...,...,...,...,...
199,ZIN - MASOS,8,2021,0.000000,0.000000
200,ZIN - MASOS,9,2021,0.000000,0.000000
201,ZIN - MASOS,10,2020,0.000000,0.000000
202,ZIN - MASOS,11,2020,0.000000,0.000000
203,ZIN - MASOS,12,2020,0.000000,0.000000

In [ ]:
concatenated_df.to_csv("avg_monthly_flow.csv")

# New Section5

In [ ]:
import pandas as pd
df1 = pd.read_csv("/content/average_by_station_month_year.csv")

In [ ]:
df2 = pd.read_csv("/content/monthly_average_pressure_wind_humidity_temp.csv")

In [ ]:
df3 = pd.read_csv("/content/monthly_rain.csv")

In [ ]:
df1

NameError: ignored

תחנות התאדות, משך זריחת השמש

In [ ]:
df1["new station"].unique()

array(['אילת', 'חצבה', 'יטבתה', 'מצפה רמון', 'נאות סמדר', 'סדום', 'עבדת',
       'פארן', 'שדה בוקר'], dtype=object)

תחנות לחות, רוח, וכדומה

In [ ]:
df2["new station"].unique()

array(['אילת', 'בוקר', 'חצבה', 'יטבתה', 'סדום', 'עבדת', 'פארן'],
      dtype=object)

תחנות גשם

In [ ]:
df3["תחנה חדש"].unique()

array(['בוקר', 'עבדת', 'מצפה רמון', 'סדום', 'יטבתה', 'אילת', 'עין יהב',
       'חצבה', 'פארן', 'נאות סמדר'], dtype=object)

תחנות ספיקה בנחלים

In [ ]:
average_by_station_month['station name'].unique()